{% extends "base.html" %}
{% block content %}
  <p>
    <button class="btn btn-danger pull-right">Delete</button>  <a href="{{base_path}}/books/1/edit" class="btn btn-default pull-right">Edit</a>
  </p>
  <h1>{{book.nimi}}</h1>
  
    <p><img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-L.jpg" /></p>

  <ul>
    <li><strong>ISBN:</strong> {{book.isbn}} </li>  
    <li><strong>Writer:</strong> {{book.kirjailija}}</li>
    <li><strong>Released:</strong> {{book.vuosi}}</li>
    <li><strong>Users' rating:</strong> {{book.arvostelu}}</li>
    <li><strong>Book's Categories:</strong> 
        {% for bc in bookcategories %}
        {{bc.kategoria_nimi}}
        {% endfor %}
    </li>
  </ul>
  <p>
    {{book.kuvaus}}
  </p>
  <p style="margin-top:50px">
  <h3>Rate this book!</h3>
      <form method="post" action="{{base_path}}/books/{{book.id}}" class="form-inline">
        <div class="form-group">
            <input name="rating" class="form-control" value="" type="number" min="1" max="5">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Rate!</button>
        </div>
        </form>
{% endblock %}
