{% extends "base.html" %}
{% block content %}
  <p>
    <button class="btn btn-danger pull-right">Delete</button>  <a href="{{base_path}}/books/1/edit" class="btn btn-default pull-right">Edit</a>
  </p>
  <h1>Testi</h1>

  <ul>
    <li><strong>ISBN:</strong> 1234567891234 </li>  
    <li><strong>Writer:</strong> McTestinen</li>
    <li><strong>Released:</strong> 0000</li>
    <li><strong>Users' rating:</strong> 3.2</li>
    <li><strong>Your rating:</strong> 4</li>
  </ul>
  <p>
    Maailman myydyin kirja.
  </p>

{% endblock %}
