{% extends "base.html" %}
{% block content %}

  <h1>Add a book</h1>
 
  
  <form method="post" action="{{base_path}}/books">
    <div class="form-group">
      <label>Name</label>
      <input name="nimi" class="form-control" value="{{attributes.nimi}}" type="text">
    </div>
      <div class="form-group">
      <label>ISBN</label>
      <input name="isbn" class="form-control" value="{{attributes.isbn}}" type="text">
    </div>
    <div class="form-group">
      <label>Writer</label>
      <input name="kirjailija" class="form-control" value="{{attributes.kirjailija}}" type="text">
    </div>
    <div class="form-group">
      <label>Released</label>
      <input name="vuosi" class="form-control" value="{{attributes.vuosi}}" type="text">
    </div>
    <div class="form-group">
      <label>Introduction</label>
      <textarea name="kuvaus" class="form-control">{{attributes.kuvaus}}</textarea>
    </div> 
    <div class="form-group">
      <label>Categories</label>
      <select name="categories[]" class="form-control" multiple="">
            {% for category in categories %}
                <option value="{{category.id}}">{{category.nimi}}</option>
            {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>
{% endblock %}